
 <div [hidden]="!courses.length==0">
    {{student.name}} Not enrolled to any course
    <button (click)=enrollCourses(student.id) type="button" class="btn btn-link" >Enroll Now</button>
</div>

   
    <div [hidden] ="courses.length==0">
        <div class="card">
            <div class="card-header">
                Courses Enrolled by <b>{{student.name}}</b>
            </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
              <table class="table table-striped">
                 
                  <thead>
                     <tr>
                         <th>Id</th>
                         <th>Course</th>
                         <th>Reviews</th>
                        
                     </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor ="let course of courses">
                          <td>{{course.id}}</td>
                          <td>{{course.name}}</td>
                          <td><button (click)=getReviewsbyCourseId(course.id) type="button" class="btn btn-link" >Reviews</button></td>
      
                      </tr>
      
                  </tbody>
              </table>
             
            </blockquote>
          </div>

          
  <div>
    <button (click)=newEnrollCourses(student.id) type="button" class="btn btn-link" >Enroll to new Course </button> 
 </div>

    </div>
  </div>

