<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <img
      src="./assets/images/download.png"  width="50" height="30" 
      
      class="d-inline-block align-top"  
      alt=""
    />
   Udemy
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="students" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
          >Students </a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"
          >Courses</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-student" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"
          >Add Student</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-course" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"
          >Add Course</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <br />
  <!-- <h2 style="text-align: center;">{{ title }}</h2> -->
  <hr />
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved @Udemy 2020 </span>
  </div>
</footer>
